@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(25, 25, 25);
    text-align: center;
    margin: 0;
}

.hero {
    background-image: url("hero.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5c1d7e;
    text-align: center;
    font-weight: 900;
    text-shadow: 0px 3px 2px #9435ef;
    font-size: 4em;
    box-shadow: 0px 2px 20px 8px #8c32e426;
}

.hero img {
    margin: auto;
    display: block;
    max-width: 100px;
}

.container {
    display: inline-block;
    max-width: 800px;
    color: rgb(200, 200, 200);
    text-align: left;
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
}

.container a {
    color: #822bf5;
}

.container blockquote {
    font-size: 0.8em;
    color: rgb(166, 166, 166);
    margin-top: 50px;
}